{% extends "base.html" %}
{% block content %}
        <h1>Viagens com Desconto!</h1>
        <p>Sua origem é: {{ form.origem.value }}</p>
        <p>Seu destino é: {{ form.destino.value }}</p>
        <p>Sua data de ida é: {{ form.data_ida.value }}</p>
        <p>Sua data de volta é: {{ form.data_volta.value }}</p>
        <p>Pesquisa realizada: {{ form.classe_viagem.value }}</p>
        <p>Classe escolhida: {{ form.adicionais.value }}</p>
        <p>Seu e-mail: {{ form.email.value }}</p>
        
{% endblock %}